<!DOCTYPE html>
<html lang="en">

<% include header %>

<body style="background-color:rgb(195, 195, 226);">

<% include navbar %>

<!-- Jumbotron to show the message, also since I can't push down the footer this seems to help -->
<div style="color:rgb(62, 62, 243); background-color:rgb(179, 179, 226);" class="jumbotron">
        <div class="container">
            <h2 class="display-4">Employee Record Management</h2>
            <p>Only authorized personnel can access this page and edit emplyee database.</p>
            
        </div>
    </div>
    
    <div style="color:rgb(62, 62, 243);" class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>Navigation</h2>
                <p>Please use the buttons below to navigate to your desired location. </p>
                <p> <a class="btn btn-secondary" href="/new" role="button">Data Entry &raquo;</a>
                    <a class="btn btn-secondary" href="/list" role="button">Records &raquo;</a>                     
                </p>
                
            </div>
            
        </div>
    
        <% include footer %>
    </div>
    
    <% include scripts %>
    
    </body>
    </html>