<!DOCTYPE html>
<html lang="en">

<% include header %>

<body>

<% include navbar %>

<div>
    <div>
    <p>Something to see</p>
    </div>

    <div>
            <form action="#">
                Full name:<br>
                <input type="text" name="fullName" value="Full Name">
                <br>
                Date of Birth:<br>
                <input type="text" name="dateOfBirth" value="Day-Month-Year">
                <br>
                Date of Hire:<br>
                <input type="text" name="dateOfHire" value="Day-Month-Year">
                <br>
                Employee ID:<br>
                <input type="text" name="employeeId" value="1234-5678">
                <br>
                <br><br>
                <input type="submit" value="Submit">
              </form> 
    </div>

</div>


<% include footer %>

<% include scripts %>
    
</body>
</html>